*.xcuserstate
*.xcbkptlist
*.xcexplist
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
bin/
gen/
build

Android/rigablue/.idea
Android/rigablue/gradle
Android/rigablue/.gradle
*.iml
Android/rigablue/local.properties